<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="centered">
    <form action="/login" method="POST">
      <h1>Welcome to the Flag Shop</h1>
      <p>We sell flags at very cheap prices.</p>
      <br>
      <h2>Enter Username</h2>
      <input type="text" name="username" placeholder="Username" required />
      <button type="submit">Start Game</button>
    </form>
  </div>
</body>
</html>
